<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <title>HDC 账户 地址</title>
<style>
.address-tag {
  width: 10em;
  display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
}

h1.pull-left{
  text-align: center;
  font-size: 16px;
  color: #FFF;
}
.hidden-su-custom {
    font-size: 14px !important;
    color: #FFF !important;
}
</style>
</head>
<body>
<div id="app">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">HadesCoin 区块浏览器</a>
      </div>


      <form class="navbar-form navbar-right" v-on:submit.prevent="sear()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="请输入地址 / 交易哈希" v-model="kw">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" v-on:click="sear()">搜索</button>
          </span>
        </div>
      </form>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
          <table class="table"> 
           <thead> 
            <tr> 
             <th colspan="2"> 账户预览 </th> 
            </tr> 
           </thead> 
           <tbody>
            <tr> 
             <td> 余额: </td> 
             <td> {{balance}} HDC </td> 
            </tr> 
            <tr> 
             <td> Transactions: </td> 
             <td> <span title="" rel="tooltip" data-placement="bottom" data-original-title="Normal Transactions">{{count}} 交易 </span> </td> 
            </tr> 
           </tbody>
          </table>
      </div>
      <div class="col-md-6">&nbsp;</div>
    </div>
  </div>  
  <div class="container-fluid">
    <h1 class="etitle pull-left">
    &nbsp; 地址
    <span class="lead-modify hidden-su-custom" style="color: #999999" id="address"><span id="mainaddress" data-placement="top">{{addr}}</span>
    </h1>
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-hover"> 
         <tbody>
          <tr> 
           <th>哈希 </th> 
           <th> <span title="UTC time">时间</span> </th> 
           <th>发送方 </th> 
           <th>&nbsp;</th> 
           <th>接收方 </th> 
           <th>数量 </th> 
           <th>[手续费]</th> 
          </tr> 
          <tr v-for="t in trans">
           <td><span v-if="!t.status" class="glyphicon glyphicon-exclamation-sign" style="color:red"></span> <a class="address-tag" :href="'/tx/'+t.id">{{t.id}}</a></td>
           <td><span class="render" :datetime="t.timeStamp*1000" :title="new Date(t.timeStamp*1000).toLocaleString()">{{new Date(t.timeStamp*1000).toLocaleString()}}</span></td>
           <td>
            <span class="address-tag" v-if="t.from==addr">{{t.from}}</span>
            <a class="address-tag" :href="'/address/'+t.from" v-else>{{t.from}}</a>
           </td>
           <td>
            <span class="label label-warning rounded" v-if="t.from==addr">&nbsp; OUT &nbsp;</span>
            <span class="label label-success rounded" v-else>&nbsp; IN &nbsp;</span>
           </td>
           <td>
            <a class="address-tag" :href="'/address/'+t.to" v-if="t.isC && t.to!=addr"><img src="/img/application-table.png" alt="">合约创建</a>
            <span class="address-tag" v-else-if="t.isC && t.to==addr"><img src="/img/application-table.png" alt="">合约创建</span>
            <a class="address-tag" :href="'/address/'+t.to" v-else-if="t.to!=addr">{{t.to}}</a>
            <span class="address-tag" v-else="t.to!=addr">{{t.to}}</span>
           </td>
           <td>{{(t.value/1e18).toFixed(4)}} HDC</td>
           <td><font color="gray" size="1">{{(t.gas*t.gasPrice/1e18).toFixed(6)}}</font></td>
          </tr>
         </tbody>
        </table>       
      </div>
    </div>
    <div>
      <ul class="pagination pull-right" v-if="pages>1">
        <li class="page-item" v-bind:class="page==1?'disabled':''">
          <a class="page-link" :href="path+'?page=1'">&laquo;</a>
        </li>
        <li class="page-item" v-bind:class="page==1?'disabled':''">
          <a class="page-link" :href="path+'?page='+(page-1)">&#8249;</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">{{page}}/{{pages}}</a>
        </li>
        <li class="page-item" v-bind:class="page==pages?'disabled':''">
          <a class="page-link" :href="path+'?page='+(1*page+1)">&#8250;</a>
        </li>
        <li class="page-item" v-bind:class="page==pages?'disabled':''">
          <a class="page-link" :href="path+'?page='+pages">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
  <footer>
    <p class="text-center">HadesChain.org &copy;2017-2019</p>
  </footer>
</div>
</body>
<script src="https://lib.baomitu.com/vue/2.5.17/vue.min.js"></script>
<script src="https://lib.baomitu.com/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://lib.baomitu.com/timeago.js/3.0.2/timeago.min.js"></script>
<script>
new Vue({
  el : '#app',
  data: {
    addr : '',
    href : window.location.href,
    path : window.location.pathname,
    page : 1,
    pages : 1,
    balance : 0.00,
    count : 0,
    kw : '',
    trans : [],
  },
  created: function () {
    if(this.init()!==true) {
      return;
    }
    
    this.page = /page=(\d+)/.exec(this.href);
    this.page = this.page===null ? 1 : this.page[1];

    this.getBanlance();

    this.getTrans()
    .then(
      (r)=>{
        this.count = r.body.total;
        this.pages = Math.ceil(this.count/10);
        while(r.body.docs.length) {
          this.trans.push(r.body.docs.shift());
        }
      }
    ).then(()=>{
      timeago().render(document.querySelectorAll('.render') , 'zh_CN');
    });
    
  },

  methods : {
    init : function() {
      var addrs = /0x\w{40}/.exec(this.href);
      if(addrs!==null) {
        this.addr = addrs[0];
        return this.addr.length === 42;
      }
    },

    render : function() {
      timego().render(document.querySelectorAll('.render'));
    },

    getTrans : function() {
      var url = '/transactions?address='+this.addr+'&page='+this.page;
      return this.$http.get(url);
    },

    getBanlance : function() {
      var url = '/web3relay';
      var data = {"addr":this.addr,"options":"balance"};
      this.$http.post(url,JSON.stringify(data))
      .then(
        (r)=>{
          this.balance = r.body.balance;
        },
        (e)=>{}
      );
    },

    getCount : function() {
      var url = '/web3relay';
      var data = {"addr":this.addr,"options":"count"};
      return this.$http.post(url,JSON.stringify(data));
    },

    sear : function() {
      if(this.kw.length === 42) {
        window.location.href='/address/'+this.kw;
      } else if(this.kw.length === 66) {
        window.location.href='/tx/'+this.kw;
      } else {
        this.kw = '';
      }
    }
  }
})
</script>
</html>
